.my-masonry-grid {
  display: flex;
  margin-left: -5px; /* Adjust gap size */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 5px; /* Adjust gap size */
  background-clip: padding-box;
}

.my-masonry-grid_column > div { /* Optional */
  margin-bottom: 5px; /* Adjust gap size */
  
}

.suggestion-container {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.search-list-item:hover {
  background-color: #51829B;
  color: white;
}

.image-card {
  position: relative; /* Ensures the overlay is positioned relative to the card */
  overflow: hidden; /* Prevents any overflow from the overlay from being visible outside the card */
}

.image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Overlay is initially invisible */
  transition: opacity 0.5s ease; /* Smooth transition for the overlay appearance */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
}

.image-card:hover .image-overlay {
  opacity: 1; /* Overlay becomes visible on card hover */
}

.image-button {
  margin: 0 10px; /* Adds some spacing between buttons */
}
